<!-- _includes/student_projects.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if student_project.redirect -%}
  <a href="{{ student_project.redirect }}">
    {%- else -%}
    <a href="{{ student_project.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if student_project.img %}
        {%- include figure.html
          path=student_project.img
          alt="project thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title text-lowercase">{{ student_project.title }}</h2>
          <p class="card-text">{{ student_project.description }}</p>
          <div class="row ml-1 mr-1 p-0">
          </div>
        </div>
      </div>
    </a>
</div>
